<template name="Header">
    <div class="ui top fixed borderless inverted menu">
  <div class="ui container">
  	  <a class="item" href="{{ pathFor 'Landing_Page' }}">Landing Page</a>
      <a class="item" href="{{ pathFor 'Create_A_Quest_Page' }}">Create Quest</a>
      <a class="item" href="{{ pathFor 'Approve_Quest_Page' }}">Approve Quest</a>
      <a class="item" href="{{ pathFor 'Student_Home_Page' }}">Student Home Page</a>
      <a class="item" href="{{ pathFor 'Teacher_Page' }}">Teacher Page</a>
    </div>
  </div>
</template>